root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
tab_width = 4
max_line_length = 150

[*.{kt,kts}]
ktlint_standard_value-argument-comment = disabled
ktlint_standard_value-parameter-comment = disabled

[*.yml]
indent_size = 2
